.container{
	width: 1400px;
}

nav{
	float: right;
	background: black;
	padding: 0 0.7em;
	white-space: nowrap;
}

nav ul{
	margin: 0;
	padding: 0;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 0.2em
}
#contents div.tags {
	background-color: #bfbdbd;
	height: 40px;
	line-height: 40px;
	margin-bottom: 20px;
	padding: 0;
}
#contents div.tags span {
	color: #626262;
	font-size: 0.92em;
	padding: 0 10px;
	text-transform: uppercase;
}
#contents div.tags a {
	color: #faf7f7;
	font-size: 12px;
	padding: 0 10px;
}