/*
Syntax error: File to import not found or unreadable: bourbon.
              Load paths:
                D:/Aptana Studio 3 Workspace/Casting/public/stylesheets/sass
                c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/activeadmin-0.4.3/app/assets/stylesheets
                c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/activeadmin-0.4.3/lib/active_admin/sass
        on line 11 of c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/activeadmin-0.4.3/app/assets/stylesheets/active_admin/mixins/_all.css.scss
        from line 1 of c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/activeadmin-0.4.3/app/assets/stylesheets/active_admin/_mixins.css.scss
        from line 2 of c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/activeadmin-0.4.3/lib/active_admin/sass/active_admin.scss

Backtrace:
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/activeadmin-0.4.3/app/assets/stylesheets/active_admin/mixins/_all.css.scss:11
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/activeadmin-0.4.3/app/assets/stylesheets/active_admin/_mixins.css.scss:1
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/activeadmin-0.4.3/lib/active_admin/sass/active_admin.scss:2
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/import_node.rb:64:in `import'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/import_node.rb:25:in `imported_file'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:149:in `visit_import'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:146:in `visit_import'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:146:in `map'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:146:in `visit_import'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:146:in `visit_import'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:146:in `map'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:146:in `visit_import'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/root_node.rb:20:in `render'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/engine.rb:299:in `_render'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/engine.rb:247:in `render'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/util.rb:310:in `silence_sass_warnings'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/engine.rb:247:in `render'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/plugin/compiler.rb:339:in `update_stylesheet'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/plugin/compiler.rb:202:in `update_stylesheets'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/plugin/compiler.rb:200:in `each'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/plugin/compiler.rb:200:in `update_stylesheets'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/plugin.rb:81:in `update_stylesheets'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/plugin.rb:54:in `check_for_updates'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/sass-3.1.15/lib/sass/../sass/plugin/rack.rb:51:in `call'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/warden-1.1.1/lib/warden/manager.rb:35:in `call'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/warden-1.1.1/lib/warden/manager.rb:34:in `catch'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/warden-1.1.1/lib/warden/manager.rb:34:in `call'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/actionpack-3.0.9/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/actionpack-3.0.9/lib/action_dispatch/middleware/head.rb:14:in `call'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/rack-1.2.5/lib/rack/methodoverride.rb:24:in `call'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/actionpack-3.0.9/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/actionpack-3.0.9/lib/action_dispatch/middleware/flash.rb:182:in `call'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/actionpack-3.0.9/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/actionpack-3.0.9/lib/action_dispatch/middleware/cookies.rb:302:in `call'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/activerecord-3.0.9/lib/active_record/query_cache.rb:32:in `call'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/activerecord-3.0.9/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/activerecord-3.0.9/lib/active_record/query_cache.rb:12:in `cache'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/activerecord-3.0.9/lib/active_record/query_cache.rb:31:in `call'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/activerecord-3.0.9/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/actionpack-3.0.9/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/activesupport-3.0.9/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/actionpack-3.0.9/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/rack-1.2.5/lib/rack/sendfile.rb:106:in `call'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/actionpack-3.0.9/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/actionpack-3.0.9/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/railties-3.0.9/lib/rails/rack/logger.rb:13:in `call'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/rack-1.2.5/lib/rack/runtime.rb:17:in `call'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/activesupport-3.0.9/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/rack-1.2.5/lib/rack/lock.rb:13:in `call'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/rack-1.2.5/lib/rack/lock.rb:13:in `synchronize'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/rack-1.2.5/lib/rack/lock.rb:13:in `call'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/actionpack-3.0.9/lib/action_dispatch/middleware/static.rb:30:in `call'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/railties-3.0.9/lib/rails/application.rb:168:in `call'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/railties-3.0.9/lib/rails/application.rb:77:in `send'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/railties-3.0.9/lib/rails/application.rb:77:in `method_missing'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/railties-3.0.9/lib/rails/rack/log_tailer.rb:14:in `call'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/rack-1.2.5/lib/rack/content_length.rb:13:in `call'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/rack-1.2.5/lib/rack/handler/webrick.rb:52:in `service'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/1.8/webrick/httpserver.rb:104:in `service'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/1.8/webrick/httpserver.rb:65:in `run'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/1.8/webrick/server.rb:173:in `start_thread'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/1.8/webrick/server.rb:162:in `start'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/1.8/webrick/server.rb:162:in `start_thread'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/1.8/webrick/server.rb:95:in `start'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/1.8/webrick/server.rb:92:in `each'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/1.8/webrick/server.rb:92:in `start'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/1.8/webrick/server.rb:23:in `start'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/1.8/webrick/server.rb:82:in `start'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/rack-1.2.5/lib/rack/handler/webrick.rb:13:in `run'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/rack-1.2.5/lib/rack/server.rb:217:in `start'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/railties-3.0.9/lib/rails/commands/server.rb:65:in `start'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/railties-3.0.9/lib/rails/commands.rb:30
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/railties-3.0.9/lib/rails/commands.rb:27:in `tap'
c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/railties-3.0.9/lib/rails/commands.rb:27
script/rails:6:in `require'
script/rails:6
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: bourbon.\A               Load paths:\A                 D:/Aptana Studio 3 Workspace/Casting/public/stylesheets/sass\A                 c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/activeadmin-0.4.3/app/assets/stylesheets\A                 c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/activeadmin-0.4.3/lib/active_admin/sass\A         on line 11 of c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/activeadmin-0.4.3/app/assets/stylesheets/active_admin/mixins/_all.css.scss\A         from line 1 of c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/activeadmin-0.4.3/app/assets/stylesheets/active_admin/_mixins.css.scss\A         from line 2 of c:/RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/activeadmin-0.4.3/lib/active_admin/sass/active_admin.scss"; }
