<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>La Gilda</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" charset="utf-8" />	
</head>

<body>
	
		
		<div id="contents">
			<span class="header"></span>
			<h3>About Us</h3>
			<div class="links">
				<a href="about.html">Share</a>
				<a href="http://twitter.com/fwtemplates" target="_blank" >Re-Tweet</a>
			</div>

			<div class="about">
				<span>Ecco cos'è la Gilda</span>
				<p>
					La Gilda è un'alleanza di maestri d'arte che hanno deciso volontariamente di insegnare e nel contempo imparare
					nel rispetto del concetto di Arte assoluto. Leggi i nostri <%= link_to "Termini di Servizio", termsofuse_path%>.
				</p>

				<span>Cosa significa insegnare e imparare?</span>
				<p>
					Significa che i nostri maestri assolutamente qualificati e selezionati mettono a disposizione un certo numero
					di ore di lezione mensili che non prevedono un pagamento in denaro ma vengono ricambiate con un equivalente
					numero di ore di una lezione da loro prescelta!!
				</p>

				<span>E se non sono più disponibili ore?</span>
				<p> 
					Se il numero di ore è esaurito o se non potete "contraccambiare l'insegnamento" richiesto allora è previsto un compenso in denaro
					ben visibile nella pagina del maestro selezionato, ma attenzione!! Sempre nel rispetto di chi vuole imparare, se prenoti più
					lezioni mensilmente dai maestri della Gilda hai uno sconto sulla lezione, più ne prenoti, più aumenta lo sconto!!!</p>

				<span>E se volessi far parte della Gilda?</span>
				<p>
					 Se ti senti qualificato ad insegnare anche tu all'altezza dei maestri della Gilda riempi il Contact Form a piè pagina e verrai ricontattato
					 dai nostri selettori!!!
				</p>
			</div>
			

		
			<a href="homepage.html">Back to homepage>></a>
		</div> <!-- /#contents -->
	</div> <!-- /#page -->
</body>
</html>