<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>La Gilda</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" charset="utf-8" />	
</head>

<body>
	
		<ul id="navigation">
				
				
			</ul> <!-- /#navigation -->		
		
		<div id="contents">
			
			
		
			<span class="header"></span>
			<ul class="images">
				

				<li><img src="images/lilla costarelli.jpg" alt="Img" /></li>
				<li><img src="images/dario conti.jpg" alt="Img" /></li>
				<li><img src="images/fabio dulzetto.jpg" alt="Img" /></li>
				<li><img src="images/erika spagnolo.jpg" alt="Img" /></li>

				<li><img src="images/enrico sortino.jpg" alt="Img" /></li>
				<li><img src="images/phil gorman.jpg" alt="Img" /></li>
				<li><img src="images/gianni nicotra.jpg" alt="Img" /></li>
				<li><img src="images/giuseppe carbone.jpg" alt="Img" /></li>

				<li><img src="images/patricia nugent.jpg" alt="Img" /></li>
				<li><img src="images/jessica hauf.jpg" alt="Img" /></li>
				<li><img src="images/manuela partanni.jpg" alt="Img" /></li>
				<li><img src="images/marco ravalli.jpg" alt="Img" /></li>

				<li><img src="images/melina manuli.jpg" alt="Img" /></li>
				<li><img src="images/giovanni anzalone.jpg" alt="Img" /></li>
				<li><img src="images/marco amato.jpg" alt="Img" /></li>
				<li><img src="images/skye cameron.jpg" alt="Img" /></li>

				<li><img src="images/giovanna dangi.jpg" alt="Img" /></li>
				<li><img src="images/mariella argiracopulos.jpg" alt="Img" /></li>
				<li><img src="images/dolly diaz.jpg" alt="Img" /></li>
				<li><img src="images/francy ferro.jpg" alt="Img" /></li>

				
			</ul>
		</div> <!-- /#contents -->

</body>
</html>